@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

html,body{
    font-family: 'Montserrat', sans-serif!important;
}

a{
    color: inherit !important;
    text-decoration: none; /* no underline */
}

.site-layout-content {
    min-height: 280px;
    padding: 24px;
}

.ant-layout{
    background: transparent !important;
}
.footer-header{
    font-size: 25px;
}
.ant-list-split .ant-list-item{
    border-bottom: 0px !important;
}
.ant-list-split .ant-list-header{
    border-bottom: 0px !important;
}
.footer-icon-wrapper{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 576px) {
    .custom-item{
        white-space: nowrap;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

.footer-logo {
    width: 50%;
    height: auto;
}
h1.ant-typography{
    padding-top: 3rem;
}

.top-background{
    background-color: #2C3F5D;
    height: 50px;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.header{
    background-color: #2C3F5D;
}

.layout-padding{
    padding: 24px 48px;
}

.ant-menu,.ant-menu-dark .ant-menu-item{
    font-weight: bold;
    color: white!important;
}

.ant-menu.ant-menu-dark, .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover,.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu,.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    background-color: transparent!important;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu:hover
{
content: "";
background-color: transparent;
transition: none
}
.ant-menu-overflow-item:hover:after {
    content: "" !important;
    border-bottom: 5px solid #00A4BF !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 20px !important;
    height: 1px;
    width: 30px;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover::after, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu:hover::after
{
content: "";
border-bottom: 0px;
background-color: transparent;
transition: none
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item::after, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu::after
{
border-bottom: 0px;
transition: none
}

.outer {
    position: relative;
}
.outer:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 33.3333333333%;
}
.outer > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
