@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

html,body{
    font-family: 'Montserrat', sans-serif!important;
}
.site-layout-content {
    min-height: 280px;
    padding: 24px;
}

.ant-layout{
    background: transparent !important;
}
.footer-header{
    font-size: 25px;
}
.ant-list-split .ant-list-item{
    border-bottom: 0px !important;
}
.ant-list-split .ant-list-header{
    border-bottom: 0px !important;
}
.footer-icon-wrapper{
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 100%;
    height: auto;
}
h1.ant-typography{
    padding-top: 3rem;
}

.top-background{
    background-color: #2C3F5D;
    height: 50px;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.header{
    background-color: #2C3F5D;
}

.layout-padding{
    padding: 24px 48px;
}

.ant-menu,.ant-menu-dark .ant-menu-item{
    font-weight: bold;
    color: white!important;
}

.ant-menu.ant-menu-dark, .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover,.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu,.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    background-color: transparent!important;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover::after, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu:hover::after
{
content: "";
width: 40px;
border-bottom: 5px solid red;
padding-top: 10px;
background-color: transparent;
}

.outer {
    position: relative;
}
.outer:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 33.3333333333%;
}
.outer > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
